{:namespace "std.block.navigation"
 :target/namespace "tool.migrate.common.block"
 :dependencies ["std.block" "std.block.navigate" "std.foundation" "std.lib.zip"]
 :public-symbols
 ["anchor-children"
  "block-input"
  "code-child-locations"
  "code-children"
  "coerce-block"
  "current"
  "definition-location?"
  "definition-locations"
  "definition-name"
  "delete-at"
  "delete-current"
  "evidence"
  "form-head"
  "form-head-block"
  "form-nth"
  "form-nth-block"
  "form-second"
  "form?"
  "location"
  "location-at"
  "location-range"
  "location?"
  "metadata-block?"
  "namespace-clause-location"
  "namespace-clause-locations"
  "namespace-clauses"
  "namespace-form"
  "namespace-form?"
  "namespace-location"
  "namespace-name"
  "path"
  "render"
  "replace-at"
  "replace-current"
  "root-block"
  "step-right-n"
  "top-level-locations"
  "walk-locations"]}
