{:hara/type :project
 :hara/version "1.0.0"
 :project/id hara.lang
 :project/version "0.1.0"
 :project/source-paths ["lib/src" "lib/src-lang"]
 :project/test-paths ["lib/test" "lib/test-lang" "rust/web"]
 :project/extension-paths []
 :project/package {:profile "config/packages.edn"}
 :project/main std.foundation
 :project/inrepl-capabilities #{:inrepl/loopback}
 :project/capabilities
 #{:studio/node-send
   :files/local-read
   :files/local-write}}
